<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Reduce noise from all Ignite packages -->
        <Logger name="org.apache.ignite" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Explicit entries for internal packages -->
        <Logger name="org.apache.ignite.internal" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.logging" level="warn"/>
        <Logger name="org.apache.netty" level="warn"/>
    </Loggers>
</Configuration>